# Preprocess county dataset

This notebook processes a dataset mapping British Library (BL) newspaper title IDs to Counties created by Yann Ryan, previous Curator of Newspaper Data at the BL. Read more about how Yann created the original dataset at https://bookdown.org/yann_ryan/r-for-newspaper-data/mapping-with-r-geocode-and-map-the-british-librarys-newspaper-collection.html#get-county-information-from-the-title-list

In this notebook, we make some small additions. The processed data is used in Step 2 of Press Picker for filtering the titles by county in the visualisation.

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Read in counties dataset
path2counties = os.path.join("datasets", "title_list_with_corrected_counties.csv")
titles_counties = pd.read_csv(path2counties, encoding = "ISO-8859-1", dtype=str)

titles_counties.head()

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link,wikititle,geometry,G_NAME
0,2841953,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,London,England,NaN,...,NaN,N. B|Nathaniel Butter,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON
1,2852602,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON
2,2852624,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON
3,2852630,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON
4,2852631,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON

In [3]:
len(titles_counties)

22486

In [4]:
# Add the leading zeros back onto ids
titles_counties['title_id'] = titles_counties['title_id'].astype(int)
titles_counties['title_id'] = titles_counties['title_id'].apply(lambda x: '{0:0>9}'.format(x))
titles_counties.head()

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link,wikititle,geometry,G_NAME
0,002841953,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,London,England,NaN,...,NaN,N. B|Nathaniel Butter,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON
1,002852602,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON
2,002852624,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON
3,002852630,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON
4,002852631,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,London,"c(-0.1275, 51.5072)",LONDON

In [5]:
# Get list of unique counties with counts
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(titles_counties['G_NAME'].value_counts())

LONDON                5789
LANCASHIRE            1575
WEST RIDING            958
KENT                   804
ESSEX                  631
WARWICKSHIRE           598
CHESHIRE               522
HAMPSHIRE              513
STAFFORDSHIRE          508
SUSSEX                 508
DEVON                  472
LINCOLNSHIRE           464
COUNTY DURHAM          439
HERTFORDSHIRE          434
SURREY                 409
LANARKSHIRE            397
GLOUCESTERSHIRE        359
GLAMORGAN              348
NOTTINGHAMSHIRE        319
SOMERSET               298
BERKSHIRE              279
NORFOLK                260
CORNWALL               255
DERBYSHIRE             252
EAST RIDING            249
SUFFOLK                223
BUCKINGHAMSHIRE        222
LEICESTERSHIRE         212
WILTSHIRE              204
NORTHAMPTONSHIRE       186
BEDFORDSHIRE           183
MIDLOTHIAN             180
FORFARSHIRE            180
WORCESTERSHIRE         168
CAMBRIDGESHIRE         160
OXFORDSHIRE            156
DORSET                 155
NORTH RIDING           155
CUMBERLAND             145
MONMOUTHSHIRE          131
NORTHUMBERLAND         126
CAERNARVONSHIRE        126
DENBIGHSHIRE           110
WIGTOWNSHIRE           109
AYRSHIRE               107
RENFREWSHIRE            97
FIFE                    90
SHROPSHIRE              89
HEREFORDSHIRE           87
MIDDLESEX               79
STIRLINGSHIRE           63
CARMARTHENSHIRE         58
PERTHSHIRE              52
DUNBARTONSHIRE          52
MERIONETHSHIRE          48
INVERNESS SHIRE         44
PEMBROKESHIRE           44
HUNTINGDONSHIRE         43
ROXBURGHSHIRE           41
DUMFRIES SHIRE          41
CARDIGANSHIRE           39
WESTMORLAND             35
MONTGOMERYSHIRE         32
ARGYLL                  30
MORAY                   27
BRECKNOCKSHIRE          24
CLACKMANNANSHIRE        22
FLINTSHIRE              22
WEST LOTHIAN            20
PEEBLES SHIRE           18
SELKIRKSHIRE            16
ORKNEY                  15
BANFFSHIRE              15
EAST LOTHIAN            15
BUTESHIRE               15
ABERDEENSHIRE           14
KINCARDINESHIRE         12
SHETLAND                10
ROSS AND CROMARTY       10
ANGLESEY                 9
RUTLAND                  9
CAITHNESS                9
RADNORSHIRE              7
KIRKCUDBRIGHTSHIRE       6
NAIRNSHIRE               6
KINROSS SHIRE            5
BERWICKSHIRE             2
SUTHERLAND               1
Name: G_NAME, dtype: int64

### Check how many titles have a missing county

In [6]:
# Check how many titles have a missing county
print('%s titles are missing county data' % len(titles_counties[pd.isna(titles_counties['G_NAME'])]['title_id'].unique()))

235 titles are missing county data

In [7]:
# Where titles are missing a county - do they have a 'general_area_of_coverage'?
titles_counties[pd.isna(titles_counties['G_NAME'])]['general_area_of_coverage'].value_counts()

Avon                                       88
Jersey                                     33
Isle of Man                                31
Guernsey                                   29
Devon                                      22
Ireland                                    10
Antrim (Northern Ireland : County)          6
Highland Region                             2
Cornwall                                    2
Londonderry (Northern Ireland : County)     1
Belfast (Northern Ireland)                  1
Aberdeenshire                               1
Kildare (Ireland : County)                  1
Name: general_area_of_coverage, dtype: int64

In [8]:
# What titles have neither county nor 'general_area_of_coverage'?
# print('%s titles are missing county AND general_area_of_coverage data % len(titles_counties[pd.isna(titles_counties['G_NAME'] & pd.isna(titles_counties['general_area_of_coverage'])]['title_id'].unique()))

titles_counties[pd.isna(titles_counties['G_NAME']) & pd.isna(titles_counties['general_area_of_coverage'])]

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link,wikititle,geometry,G_NAME
178,002834200,NaN,NaN,Haerlemsche Courant,NaN,NaN,NaN,Haerlem,England,NaN,...,NaN,A. Casteleyn,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Haarlem,"c(4.63333, 52.3833)",NaN
253,002824144,NaN,NaN,Amsterdamse Courant,NaN,NaN,NaN,Amsterdam,England,NaN,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Amsterdam,"c(4.9, 52.3667)",NaN
467,002831494,NaN,NaN,"The London Chronicle. January 1-July 7, 1758",NaN,NaN,NaN,Dublin,Ireland,NaN,...,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Dublin,"c(-6.26667, 53.35)",NaN
21050,013372506,NaN,NaN,Totally Dublin,NaN,NaN,NaN,Dublin,Ireland,NaN,...,Monthly,NaN,NaN,2004 October (issue 1) -,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Dublin,"c(-6.26667, 53.35)",NaN
21373,014495511,NaN,NaN,The Carrick biz,NaN,Continues: Belfast biz,NaN,Belfast,Northern Ireland,NaN,...,Monthly,Belfast Biz,NaN,2007 February (issue 1) -,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Belfast,"c(-5.93, 54.5964)",NaN
21462,014672658,NaN,NaN,Dealer : 'free-ads' paper serving Northern Ire...,NaN,NaN,NaN,Derry,Northern Ireland,NaN,...,Weekly,Dealer,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Derry,"c(-7.3074, 54.9958)",NaN
22399,014895880,NaN,NaN,"Alive (Dublin, Ireland)|Alive! : Catholic mont...",NaN,NaN,NaN,Dublin,Ireland,NaN,...,Monthly,Alive Group,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Dublin,"c(-6.26667, 53.35)",NaN
22473,015553870,NaN,NaN,Sveiks!|Sveiks! (Dublin),NaN,NaN,NaN,Dublin,Ireland,NaN,...,Bi-weekly|Fortnightly,Sveiks,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Dublin,"c(-6.26667, 53.35)",NaN

None of these are Great Britain newspapers, so we will not worry they are excluded

In [9]:
# Where 'general_area_of_coverage' is the County - set that as the County facet
for index, row in titles_counties.iterrows():     
        # if the title's 'G_NAME' is empty
        if pd.isna(row['G_NAME']):
            # if the title's 'general_area_of_coverage' matches one of these 
            if (row['general_area_of_coverage'] == 'Avon') | (row['general_area_of_coverage'] == 'Jersey') | (row['general_area_of_coverage'] == 'Isle of Man') | \
            (row['general_area_of_coverage'] == 'Guernsey') | (row['general_area_of_coverage'] == 'Devon')| (row['general_area_of_coverage'] == 'Cornwall')| \
            (row['general_area_of_coverage'] == 'Aberdeenshire'):
                row['G_NAME'] = row['general_area_of_coverage'].upper()

titles_counties[pd.isna(titles_counties['G_NAME'])]['general_area_of_coverage'].value_counts()

Ireland                                    10
Antrim (Northern Ireland : County)          6
Highland Region                             2
Belfast (Northern Ireland)                  1
Londonderry (Northern Ireland : County)     1
Kildare (Ireland : County)                  1
Name: general_area_of_coverage, dtype: int64

In [10]:
# Where are the Highland newspaper titles from?
titles_counties[(titles_counties['general_area_of_coverage'] == "Highland Region") & pd.isna(titles_counties['G_NAME'])]

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link,wikititle,geometry,G_NAME
3020,013908552,16336,NaN,The Invergordon Times and General Advertiser,NaN,NaN,NaN,NaN,Scotland,Highland Region,...,NaN,NaN,no 142-3209 (17 March 1858 - 3 January 1917),NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Invergordon,"c(-4.15704, 57.6879)",NaN
16141,013895085,5854,NaN,Ullapool News,NaN,NaN,NaN,NaN,Scotland,Highland Region,...,NaN,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,Ullapool,"c(-5.166, 57.9)",NaN

These are both in ROSS AND CROMARTY

In [11]:
titles_counties.loc[(pd.isna(titles_counties['G_NAME']) & (titles_counties['general_area_of_coverage'] == "Highland Region")), ['G_NAME']] = "ROSS AND CROMARTY"

In [12]:
titles_counties[pd.isna(titles_counties['G_NAME'])]['general_area_of_coverage'].value_counts()

Ireland                                    10
Antrim (Northern Ireland : County)          6
Belfast (Northern Ireland)                  1
Londonderry (Northern Ireland : County)     1
Kildare (Ireland : County)                  1
Name: general_area_of_coverage, dtype: int64

### What newspaper titles are missing from titles_counties?

In [13]:
# Read in the master newspaper title dataset
path2newspaper_titles = os.path.join("datasets", "BritishAndIrishNewspapers_20191118.xlsx")
sheet_name = "Title List"

titles_orig_read = pd.read_excel(path2newspaper_titles, sheet_name=sheet_name, dtype='str')
titles = titles_orig_read
titles.head()
len(titles)

24927

In [14]:
titles.head()

,Title.ID,NID,NLP,Publication title,Edition,Preceding titles,Succeeding titles,Place of publication,Country of publication,General area of coverage,...,Last date held,Publication date one,Publication date two,Current publication frequency,Publisher,Holdings: more information,Free text information about dates of publication,Online status,Link to British Newspaper Archive,Explore link
0,002824188,NaN,NaN,"Corante, or, Newes from Italy and Germanie (It...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621,NaN,NaN,Broer Ianson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
1,002824189,NaN,NaN,"Corante, or, Newes from Italy, Germanie, Hunga...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621,NaN,NaN,Broer Ionson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
2,002834274,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,The Hague,The Netherlands,NaN,...,1621,1621,NaN,NaN,Adrian Clarke,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
3,002841953,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,London,England,NaN,...,1621,1621,1621,NaN,N. B|Nathaniel Butter,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
4,002824187,NaN,NaN,"Courant Newes out of Italy, Germany, Bohemia, ...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621,NaN,NaN,George Veseler,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [15]:
"%s titles out of %s from master sheet missing from titles_counties" % (len(titles[~titles['Title.ID'].isin(list(titles_counties['title_id']))]), len(titles))

'2441 titles out of 24927 from master sheet missing from titles_counties'

In [16]:
# Get list of unique 'General area of coverage's with counts for titles missing from titles_counties
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(titles[~titles['Title.ID'].isin(list(titles_counties['title_id']))]['General area of coverage'].value_counts())

Dublin (Ireland : County)                                                                                                                                                                                                                                                                               426
Belfast (Northern Ireland)                                                                                                                                                                                                                                                                              119
London                                                                                                                                                                                                                                                                                                   91
Cork (Ireland : County)                                                                                                                                                                                                                                                                                  79
Down (Northern Ireland : County)                                                                                                                                                                                                                                                                         68
Waterford (Ireland : County)                                                                                                                                                                                                                                                                             62
Antrim (Northern Ireland : County)                                                                                                                                                                                                                                                                       61
Galway (Ireland : County)                                                                                                                                                                                                                                                                                46
Limerick (Ireland : County)                                                                                                                                                                                                                                                                              42
Armagh (Northern Ireland : County)                                                                                                                                                                                                                                                                       41
Tipperary (Ireland : County)                                                                                                                                                                                                                                                                             38
Wexford (Ireland : County)                                                                                                                                                                                                                                                                               35
Tyrone (Northern Ireland)                                                                                                                                                                                                                                                                                31
Kerry (Ireland)                                                                                                                                                                                                                                                                                          29
Derry (Northern Ireland)                                                                                                                                                                                                                                                                                 29
Louth (Ireland : County)                                                                                                                                                                                                                                                                                 27
Strathclyde                                                                                                                                                                                                                                                                                              20
Offaly (Ireland)                                                                                                                                                                                                                                                                                         20
Gwent                                                                                                                                                                                                                                                                                                    20
Wicklow (Ireland : County)                                                                                                                                                                                                                                                                               19
Shropshire                                                                                                                                                                                                                                                                                               18
Fermanagh (Northern Ireland)                                                                                                                                                                                                                                                                             18
Dyfed                                                                                                                                                                                                                                                                                                    18
Westmeath (Ireland)                                                                                                                                                                                                                                                                                      18
Mayo (Ireland : County)                                                                                                                                                                                                                                                                                  16
Londonderry (Northern Ireland : County)                                                                                                                                                                                                                                                                  16
Clare (Ireland)                                                                                                                                                                                                                                                                                          16
Carlow (Ireland : County)                                                                                                                                                                                                                                                                                15
Sligo (Ireland : County)                                                                                                                                                                                                                                                                                 15
Meath (Ireland)                                                                                                                                                                                                                                                                                          11
Roscommon (Ireland : County)                                                                                                                                                                                                                                                                             11
Donegal (Ireland : County)                                                                                                                                                                                                                                                                               10
Kilkenny (Ireland : County)                                                                                                                                                                                                                                                                               9
Longford (Ireland : County)                                                                                                                                                                                                                                                                               9
Worcestershire                                                                                                                                                                                                                                                                                            8
Clwyd                                                                                                                                                                                                                                                                                                     7
Cornwall                                                                                                                                                                                                                                                                                                  7
Great Britain                                                                                                                                                                                                                                                                                             7
Dun Laoghaire (Ireland)                                                                                                                                                                                                                                                                                   7
Hammersmith and Fulham (London, England)|London                                                                                                                                                                                                                                                           6
Monaghan (Ireland : County)                                                                                                                                                                                                                                                                               6
Enfield (London, England)                                                                                                                                                                                                                                                                                 6
Leitrim (Ireland : County)                                                                                                                                                                                                                                                                                6
Greenwich (London, England)|Lewisham (London, England)|Southwark (London, England)|Wandsworth (London, England)                                                                                                                                                                                           5
Trinidad and Tobago                                                                                                                                                                                                                                                                                       5
Dublin (Ireland)                                                                                                                                                                                                                                                                                          5
Kildare (Ireland : County)                                                                                                                                                                                                                                                                                5
Castle Cary  |Glastonbury  |Shepton Mallet  |Somerset                                                                                                                                                                                                                                                     4
Merseyside (England)                                                                                                                                                                                                                                                                                      4
Barnet (London, England)|Mill Hill (London, England)                                                                                                                                                                                                                                                      4
Highbridge (Somerset, England)|Somerset                                                                                                                                                                                                                                                                   4
Cavan (Ireland : County)                                                                                                                                                                                                                                                                                  4
Hertfordshire  |Potters Bar                                                                                                                                                                                                                                                                               4
Limerick (Limerick, Ireland)                                                                                                                                                                                                                                                                              4
Northern Ireland                                                                                                                                                                                                                                                                                          4
East Lothian                                                                                                                                                                                                                                                                                              4
Jersey                                                                                                                                                                                                                                                                                                    4
Drogheda (Ireland)                                                                                                                                                                                                                                                                                        4
Billericay  |Essex  |Wickford                                                                                                                                                                                                                                                                             4
Barnet (London, England)|Finchley (London, England)                                                                                                                                                                                                                                                       4
Cumbria  |Whitehaven                                                                                                                                                                                                                                                                                      3
Antrim (Northern Ireland : County)|Newtownabbey (Northern Ireland)                                                                                                                                                                                                                                        3
Cork (Ireland)                                                                                                                                                                                                                                                                                            3
South Tipperary (Ireland)                                                                                                                                                                                                                                                                                 3
Haywards Heath  |Mid Sussex  |West Sussex                                                                                                                                                                                                                                                                 3
Isle of Man                                                                                                                                                                                                                                                                                               3

The majority of missing titles seem to be from Ireland, which we are not visualising in Press Picker, so we don't need to worry about that here. 
The following code adds the low hanging fruit missing ones from Britain, using their 'General area of coverage'.

In [17]:
titles_missingFrom_titles_counties = titles[~titles['Title.ID'].isin(list(titles_counties['title_id']))]
titles_missingFrom_titles_counties.head()

,Title.ID,NID,NLP,Publication title,Edition,Preceding titles,Succeeding titles,Place of publication,Country of publication,General area of coverage,...,Last date held,Publication date one,Publication date two,Current publication frequency,Publisher,Holdings: more information,Free text information about dates of publication,Online status,Link to British Newspaper Archive,Explore link
0,002824188,NaN,NaN,"Corante, or, Newes from Italy and Germanie (It...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621,NaN,NaN,Broer Ianson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
1,002824189,NaN,NaN,"Corante, or, Newes from Italy, Germanie, Hunga...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621,NaN,NaN,Broer Ionson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
2,002834274,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,The Hague,The Netherlands,NaN,...,1621,1621,NaN,NaN,Adrian Clarke,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
4,002824187,NaN,NaN,"Courant Newes out of Italy, Germany, Bohemia, ...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621,NaN,NaN,George Veseler,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
111,002830572,NaN,NaN,The Irish Monthly Mercury. 21 Dec. 1649. no. 1,NaN,NaN,NaN,Cork|London,England|Ireland,London,...,1649,1649,NaN,NaN,G. Calvert|T. N,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [18]:
# Where the title does not appear in corrected_county, 
# if its 'General area of coverage' from titles is one of county options, use that
for index, row in titles_missingFrom_titles_counties.iterrows():    
    # and the title's 'General area of coverage' isn't empty
    if ~pd.isna(row['General area of coverage']) & (row['General area of coverage']  != 'nan'):
        # if the title's 'General area of coverage' matches an entry from the existing list of counties 
        if (row['General area of coverage'] == 'London') | \
        (row['General area of coverage'] == 'Gwent') | \
        (row['General area of coverage'] == 'Shropshire') | \
        (row['General area of coverage'] == 'Worcestershire') | \
        (row['General area of coverage'] == 'Cornwall'):
            if titles_counties['G_NAME'].str.match(row['General area of coverage']).any():
                county_to_add = row['General area of coverage']
            elif row['General area of coverage'] == 'London':
                county_to_add = 'LONDON'
            elif row['General area of coverage'] == 'Gwent':
                county_to_add = 'MONMOUTHSHIRE'
            elif row['General area of coverage'] == 'Shropshire':
                county_to_add = 'SHROPSHIRE'
            elif row['General area of coverage'] == 'Worcestershire':
                county_to_add = 'WORCESTERSHIRE'
            elif row['General area of coverage'] == 'Cornwall':
                county_to_add = 'CORNWALL'
        else:
            county_to_add = np.nan
        # Add new row to titles_counties
        new_row = pd.DataFrame(([[row['Title.ID'], county_to_add, row['Publication title'], row['General area of coverage']]]), columns=['title_id', 'G_NAME', 'publication_title', 'General area of coverage'])
        titles_counties = titles_counties.append(new_row, ignore_index=True)
    else:
        new_row = pd.DataFrame(([[row['Title.ID'], np.nan, row['Publication title'], row['General area of coverage']]]), columns=['title_id', 'G_NAME', 'publication_title', 'General area of coverage'])
        titles_counties = titles_counties.append(new_row, ignore_index=True)
        
len(titles_counties)

/Users/khosseini/anaconda3/envs/py37torch/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

24927

In [19]:
"%s titles out of %s from master sheet missing from titles_counties" % (len(titles[~titles['Title.ID'].isin(list(titles_counties['title_id']))]), len(titles))

'0 titles out of 24927 from master sheet missing from titles_counties'

In [20]:
print('%s titles are missing county data out of %s titles' % (len(titles_counties[pd.isna(titles_counties['G_NAME'])]['title_id'].unique()), len(titles_counties[~pd.isna(titles_counties['G_NAME'])]['title_id'].unique())))

2324 titles are missing county data out of 22597 titles

While there's room for tidying up the remainder, we have county data for most of the Great Britain titles

## Check against filtered title list from Step 01

In [21]:
path2titles = os.path.join("datasets", "dynamic_io", "titles.csv")
titles_filtered = pd.read_csv(path2titles, encoding = "ISO-8859-1", dtype=str)

# Add the leading zeros back onto ids
titles_filtered['Title.ID'] = titles_filtered['Title.ID'].astype(int)
titles_filtered['Title.ID'] = titles_filtered['Title.ID'].apply(lambda x: '{0:0>9}'.format(x))
titles_filtered.head()

,Unnamed: 0,Title.ID,NID,NLP,Publication title,Edition,Preceding titles,Succeeding titles,Place of publication,Country of publication,...,Holdings: more information,Free text information about dates of publication,Online status,Link to British Newspaper Archive,Explore link,connectivity,publication_title_str,preceding_title_str,succeeding_title_str,general_area_of_coverage_str
0,0,013901436,0011147,NaN,The York Courant,NaN,NaN,NaN,NaN,England,...,17 December 1728-5 January 1733; 8 November 17...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,NaN,yorkcourant,NaN,NaN,northyorkshire
1,1,013904179,0012991,0002593,General evening post (London)|General evening ...,NaN,NaN,"Continued in part by: St. James's chronicle, a...",London,England,...,NaN,1733 October 2 - 1822 February 2|Issue numberi...,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,NaN,generaleveningpostlondon|generaleveningpostlon...,NaN,"['stjamesschronicleandlondoneveningpost', 'stj...",london
2,2,013890724,0002313,NaN,Adam's Weekly Courant,NaN,NaN,Continued by: Chester Courant and Anglo-Welsh ...,NaN,England,...,"no 249-253, 322 etc (24 August -21 September 1...",NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,NaN,adamsweeklycourant,NaN,['chestercourantandanglowelshgazette'],cheshire
3,3,013941263,0031871,NaN,The Newcastle Journal,NaN,NaN,NaN,NaN,England,...,no 1-1577 (7 April 1739-26 April 1788),NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,NaN,newcastlejournal,NaN,NaN,tyneandwear
4,4,013920536,0024283,0001039,Glasgow Journal,NaN,Continues: Glasgow Weekly Journal. 14 July 1741,NaN,NaN,Scotland,...,"no 1, etc (27 July 1741-25 July 1743; 15, 22 F...",NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...,NaN,glasgowjournal,['glasgowweeklyjournal'],NaN,strathclyde

In [22]:
len(titles_filtered)

9325

In [23]:
# Are some of our filtered titles missing county information in titles_counties?
titles_counties_filtered = titles_counties[(titles_counties['title_id'].isin(list(titles_filtered['Title.ID']))) & pd.isna(titles_counties['G_NAME'])]
titles_counties_filtered

,G_NAME,General area of coverage,country_of_publication,coverage_city,current_publication_frequency,edition,explore_link,first_date_held,first_geographical_subject_heading,free_text_information_about_dates_of_publication,...,place_of_publication,preceding_titles,publication_date_one,publication_date_two,publication_title,publisher,subsequent_geographical_subject_headings,succeeding_titles,title_id,wikititle
22663,NaN,Lewes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,The Lewes and Brighthelmston pacquet and weekl...,NaN,NaN,NaN,016309664,NaN
22701,NaN,Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,The Tobago Gazette,NaN,NaN,NaN,013917428,NaN
22760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Pierce Egan's Life in London, and Sporting guide",NaN,NaN,NaN,013912646,NaN
22881,NaN,Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,The Tobago Chronicle and Royal Gazette,NaN,NaN,NaN,013917427,NaN
22882,NaN,Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Tobago Gazette and West India News,NaN,NaN,NaN,013917429,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24879,NaN,"Isleworth (London, England)|London",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Brentford & Isleworth chronicle|Brentford and ...,NaN,NaN,NaN,014758274,NaN
24884,NaN,"Merton (London, England)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Wimbledon guardian|Wimbledon guardian.co.uk|Wi...,NaN,NaN,NaN,015470517,NaN
24892,NaN,Strathclyde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Scottish daily express,NaN,NaN,NaN,011451004,NaN
24905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,County news,NaN,NaN,NaN,016161325,NaN
24918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,New Zealand news UK|New Zealand news United Ki...,NaN,NaN,NaN,011457554,NaN

In [24]:
titles_counties_filtered[pd.isna(titles_counties_filtered['G_NAME'])]['General area of coverage'].value_counts()

Dyfed                                                                                                           11
Strathclyde                                                                                                      5
Trinidad and Tobago                                                                                              5
Castle Cary  |Glastonbury  |Shepton Mallet  |Somerset                                                            2
Pimlico (London, England)                                                                                        2
Calder Valley (West Yorkshire, England)|West Yorkshire                                                           1
Essex  |Leigh-on-Sea  |Shoeburyness (Southend-on-Sea, England)                                                   1
Merton (London, England)                                                                                         1
Dumfries and Galloway                                                                                            1
Powys                                                                                                            1
Isleworth (London, England)|London                                                                               1
Clapham (London, England)|Lambeth (London, England)|Wandsworth (London, England)                                 1
Clwyd                                                                                                            1
Canonbie (Scotland : Parish)|Dumfriesshire (Scotland)|Newcastleton (Scotland)|Roxburghshire (Scotland)           1
Docklands (London, England)                                                                                      1
Banffshire                                                                                                       1
Highland                                                                                                         1
East Riding of Yorkshire  |Humberside                                                                            1
Moffat                                                                                                           1
Coningsby  |Lincolnshire  |Woodhall Spa                                                                          1
Aberdeenshire                                                                                                    1
East Riding of Yorkshire                                                                                         1
East Sussex  |Newhaven  |Peacehaven (East Sussex, England)                                                       1
Lewes                                                                                                            1
Grove (Oxfordshire, England)|Oxfordshire                                                                         1
China                                                                                                            1
Crystal Palace (London, England)|Lambeth (London, England)|West Norwood (London, England)                        1
West Midlands                                                                                                    1
Beaconsfield  |Buckinghamshire  |Chalfont St. Giles  |Chalfont St. Peter  |Marlow (Buckinghamshire, England)     1
Name: General area of coverage, dtype: int64

In [25]:
# Manually add corrected_county to this small number of titles without it, based on 'General area of coverage'
for index, row in titles_counties_filtered.iterrows():    
    if row['General area of coverage'] == 'Dyfed':
        # Dyfed covers more than 1 modern Welsh county - this is a compromise
        county_to_add = 'PEMBROKESHIRE'
    elif row['General area of coverage'] == 'Strathclyde':
        # Strathclyde covers many counties - this is a compromise
        county_to_add = 'ARGYLL'
    elif row['General area of coverage'] == ('Pimlico (London, England)' or '(Docklands (London, England)' or 'Isleworth (London, England)|London' or 'Merton (London, England)' or 'Crystal Palace (London, England)|Lambeth (London, England)|West Norwood (London, England)' or 'Clapham (London, England)|Lambeth (London, England)|Wandsworth (London, England)'):
        county_to_add = 'LONDON'
    elif row['General area of coverage'] == 'Castle Cary  |Glastonbury  |Shepton Mallet  |Somerset':
        county_to_add = 'SOMERSET'
    elif row['General area of coverage'] == 'Highland':
        # Highland covers many counties - this is a compromise
        county_to_add = 'INVERNESS'
    elif row['General area of coverage'] == 'Beaconsfield  |Buckinghamshire  |Chalfont St. Giles  |Chalfont St. Peter  |Marlow (Buckinghamshire, England)':
        county_to_add = 'BUCKINGHAMSHIRE'
    elif row['General area of coverage'] == ('East Riding of Yorkshire' or 'East Riding of Yorkshire  |Humberside'):
        county_to_add = 'EAST RIDING'
    elif row['General area of coverage'] == 'Essex  |Leigh-on-Sea  |Shoeburyness (Southend-on-Sea, England)':
        county_to_add = 'ESSEX'
    elif row['General area of coverage'] == ('Lewes' or 'East Sussex  |Newhaven  |Peacehaven (East Sussex, England)'):
        county_to_add = 'SUSSEX'
    elif row['General area of coverage'] == 'Grove (Oxfordshire, England)|Oxfordshire':
        county_to_add = 'OXFORDSHIRE'
    elif row['General area of coverage'] == ('Moffat' or 'Canonbie (Scotland : Parish)|Dumfriesshire (Scotland)|Newcastleton (Scotland)|Roxburghshire (Scotland)' or 'Dumfries and Galloway'):
        county_to_add = 'DUMFRIES SHIRE'
    elif row['General area of coverage'] == 'Powys':
        county_to_add = 'BRECKNOCKSHIRE'
    elif row['General area of coverage'] == 'Aberdeenshire':
        county_to_add = 'ABERDEENSHIRE'
    elif row['General area of coverage'] == 'Coningsby  |Lincolnshire  |Woodhall Spa':
        county_to_add = 'LINCOLNSHIRE'
    elif row['General area of coverage'] == 'West Midlands':
        # West Midlands covers many counties - this is a compromise
        county_to_add = 'WARWICKSHIRE'
    elif row['General area of coverage'] == 'Banffshire':
        county_to_add = 'BANFFSHIRE'
    elif row['General area of coverage'] == 'Calder Valley (West Yorkshire, England)|West Yorkshire':
        county_to_add = 'WEST RIDING'
    elif row['General area of coverage'] == 'Clwyd':
        county_to_add = 'FLINTSHIRE'
    # Set the new corrected_county
    titles_counties.loc[titles_counties['title_id'] == row['title_id'], ['G_NAME']] = county_to_add

# Check setting new corrected_county has been successful  
titles_counties[(titles_counties['title_id'].isin(list(titles_filtered['Title.ID']))) & pd.isna(titles_counties['G_NAME'])]

Empty DataFrame
Columns: [G_NAME, General area of coverage, country_of_publication, coverage_city, current_publication_frequency, edition, explore_link, first_date_held, first_geographical_subject_heading, free_text_information_about_dates_of_publication, general_area_of_coverage, geometry, holdings_more_information, last_date_held, link_to_british_newspaper_archive, nid, nlp, online_status, place_of_publication, preceding_titles, publication_date_one, publication_date_two, publication_title, publisher, subsequent_geographical_subject_headings, succeeding_titles, title_id, wikititle]
Index: []

[0 rows x 28 columns]

## Save processed dataset

In [26]:
# Rename some columns
titles_counties = titles_counties.rename(columns={"G_NAME": "corrected_county", "title_id": "Title.ID"})
# Change counties from uppercase to titlecase
titles_counties['corrected_county'] = titles_counties['corrected_county'].str.title() 
# only keep title_id and corrected_county
titles_counties = titles_counties[['Title.ID', 'corrected_county']]
titles_counties.head()

    Title.ID corrected_county
0  002841953           London
1  002852602           London
2  002852624           London
3  002852630           London
4  002852631           London

In [27]:
# Save as csv
parent_path = os.path.join("datasets", "dynamic_io")
titles_counties.to_csv(os.path.join(parent_path, "counties.csv"))